header {
    color: #fff;
}

header h1 {
    font-size: 40px;
}
  
/* Set the style for the navigation bar */
nav {
    background: linear-gradient(45deg, #2D8DC3, #7CDDFA);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Set the style for the navigation bar links */
nav a {
    color: #fff;
    text-decoration: none;
}

.image-title-container {
    display: flex;
    align-items: center;
}

.image-title-container img {
    margin: 0 10px 30px 0;
    padding: 0;
    height: 69px;
}
