.recovery-background {
    background-image: url('../img/smooth_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

.recovery_input {
    border: 3px black solid;
    text-align: left;
    height: 2.5em;
    font-size: 1.5em;
    width: 60%;
    padding-left: 10px;
    border-radius: 40px;
    margin-right: 20%;
}

.recovery_button {
    border: 3px black solid;
    border-radius: 40px;
    background-color: blue;
    color: white;
    font-size: 2em;
    width: 60%;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

.recovery_button:hover {
    background-color: aqua;
}

.recovery_button:active {
    background-color: blue;
}

.item-recovery {
    margin-top: 5%;
    width: 35%;
    border: 10px black solid;
    border-radius: 70px;
    background-color: white;
}

.recovery-container {
    margin-top: 5%;
    margin-bottom : 5%;
    text-align: center;
    width: 100%;
}

.recovery-container p {
    padding: 3px;
    min-height: 50px;
}

.recovery-message {
    font-size: 1.2em;
    font-weight: bolder; 
    text-align: left;
    margin: 0% 10% 0% 10%; 
}

.recovery-success {
    font-weight: bolder;
    font-size: 1.2em;
}

.error {
    color: red;
    font-weight: bolder;
    font-size: 1.2em;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #FBB;
}

.link {
    text-decoration: underline;
    color: blue;
    font-size: 1.2em;
}