.cartAsset{
	margin:20px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	border-radius: 20px;
	background: linear-gradient(0deg, #0c6f58, #001e3c);
	height: 100px;
	width:600px;
	padding: 10px;
}

.cartAsset > *{
	align-self: center;
	margin: 0px 15px;
	flex-shrink: 0;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
}

.cartAsset > * > *{
	margin: 0px 10px;
	align-self: center;
}

.asset_name{
	font-weight: bold;
	font-size: 18px;
	max-width: 300px;
}

.remove_from_cart{
	font-size: 12px;
	text-decoration: underline;
	color: #ccc;
}

.asset_non_discounted{
	font-size: 14px;
	text-decoration: line-through;
	color: #ccc;
}

.asset_discounted, .asset_price{
	font-size: 16px;
}

.asset_img{
	height:70px;
	width:120px;
	border: 1px solid;
	border-color: #06382c;
	border-radius: 3px;
}

@media (max-width:800px){
    .cartAsset{
        width: 80%;
    }

	.cartAsset > *{
        margin: 0px;
    }

	.cartAsset > * > *{
        margin-left: 5px;
		margin-right:5px;
    }

	.asset_name{
		max-width: 200px;
	}
}

@media (max-width:700px){
	.asset_name{
		max-width: 140px;
	}
}

@media (max-width:600px){
    .cartAsset{
        width: 90%;
    }

	.asset_name{
		max-width: 100px;
	}
}