.circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 24px;
}