.ImageSelector-img-shower,
.ImageSelector-img-picker {
    overflow: scroll;

}

.ImageSelector-img-picker {
    background-color: yellow    ;
}

.ImageSelector-img-shower img {
    max-height: 800px;
    border-radius: calc(20px + 2vmin);
    max-width: 100%;
}