body {
    background-color: black;
}

p {
    padding: 3px;
}

input {
    border: 3px black solid;
    text-align: left;
    height: 2.5em;
    font-size: 1.5em;
    width: 60%;
    padding-left: 10px;
    border-radius: 40px;
}

button {
    border: 3px black solid;
    border-radius: 40px;
    background-color: blue;
    color: white;
    font-size: 2em;
    width: 60%;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

button:hover {
    background-color: aqua;
}

button:active {
    background-color: blue;
}

.conteiner-middle-center {
    background-color: green ;
}

.item-middle-center {
    margin-top: 5%;
    width: 35%;
    border: 10px black solid;
    border-radius: 70px;
    background-color: white;
}

.login-container {
    margin-top: 5%;
    margin-bottom : 5%;
    text-align: center;
    width: 100%;
}

.error {
    color: red;
    font-weight: bolder;
    font-size: 1.2em;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    margin-left: 20%;
    margin-right: 20%;
    background-color: #FBB;
}

.link {
    text-decoration: underline;
    color: blue;
    font-size: 1.2em;
}

.welcome {
    text-align: left;
    margin-left: 10%;
    font-size: 1.1em;
    color: blue;
}