.SimpleHeader {
    box-sizing: border-box;

    padding: 5px 20px;

    min-width: 200px;
    width: 100%;

    font-size: calc(10px + 1vmin);
}

.simple-navbar {
    min-height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.simple-navbar-center {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.boilerstore-logo {
    width: calc(15px + 5vmin);
    margin-right: 20px;
}

@media (max-width: 400px) {
    .boilerstore-main-title {
        display: none;
    }
}

button {
    all: unset;
}