.EyeCatcher {
    width: 100%;
    height: calc(150px + 20vh);
    Overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.EyeCatcher div {
    width: fit-content;
    block-size: fit-content;
} 

.EyeCatcher div img {
    width: 70vh;
}