.conteiner-middle-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-middle-center {
    display: inline-flex;
    float: center;
}

.txt-center {
    text-align: center;
}