table {
    background-color: lightgray;
    border-collapse: collapse;    
}

table tr td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px;
}

.container {
    width: 100%;
    text-align: center;
}

.product_page {
    background-color: gray;
    width: 85%;
    border-radius: 8%;
    padding: 3%;
    margin: auto auto;
}

.comments span {
    color: darkgray;
}

.comments div {
    padding-bottom: 10px;
}
