body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
  




/* Align left navigation bar links */
.left {
    order: 1;
    margin-right: auto;
}

/* Align center navigation bar links */
.center {
    order: 2;
}

/* Align right navigation bar links */
.right {
    order: 3;
    margin-left: auto;
}

.row-ul {
    list-style: none;
    display: flex;
}
  
.row-li {
    margin-right: 1vw;
    margin-left: 1vw;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: gray;
    padding: 3%;
}

.circle-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: gray;
    padding: 0.5%;
}


.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: grey;
}

.circle-icon div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: white;
    margin: 20px;
    padding: 30px;
}




.white {
    background-color: white;
}

.blue {
    background-color: blue;
}


.grad-lightblue {
    background: linear-gradient(45deg, #2D8DC3, #7CDDFA);
    color: #2D8DC3;
}

.grad-indigo {
    background: linear-gradient(45deg, #3D4EE9 , #707DF3);
    color: #4D5CE0;
}

.grad-violet {
    background: linear-gradient(45deg, #B958DC, #D469FA);
    color: #C760EB;
}

.grad-gold {
    background: linear-gradient(45deg, #ECB06A, #D9C72A);
    color: #E2BC48;
}

.grad-gold {
    background: linear-gradient(45deg, #ECB06A, #D9C72A);
    color: #E2BC48;
}

.grad-lightgreen {
    background: linear-gradient(45deg, #6AEC8E, #4DD92A);
    color: #5CE35F;
}



footer {
    position: absolute;
    left: 1%;
    bottom: 1%;
    margin-top: 5%;
}




