/* styles.css */

/* UserSquare */
.user-square {
	background-color: #e89baa;
	padding: 20px;
	border-radius: 25px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	color: rgb(48, 48, 48);
}

.user-square h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

.user-square p {
	margin-bottom: 5px;
}

/* UsersPage */
.users-grid {
	margin: 20px;
	display: grid;
	grid-template-columns: repeat(
		auto-fit,
		minmax(max(calc(100vw / 4 + 100px), 250px), 1fr)
	);
	grid-gap: 20px;
}

.UserSquare-but-row {
	display: flex;
	justify-content: center;
}

.UserSquare-but {
	padding: 10px;
	border-radius: 10px;
	margin: 10px 10px;
}

.search-bar {
	margin-bottom: 20px;
}

.search-bar input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	color: red;
	font-weight: bold;
}

.edituser-container {
	max-width: max(calc(25% + 200px));
	margin: 0 auto;
	padding: 20px;
	background-color: #e89baa;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	color: rgb(48, 48, 48);
}

.edituser-title {
	font-size: 24px;
	margin-bottom: 20px;
}

.edituser-form {
	display: grid;
	gap: 16px;
}

.edituser-label {
	font-weight: bold;
	margin: 10px 10px;
}

.edituser-input {
	width: 90%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border-color 0.3s ease;
	margin: 10px 10px;
}

.edituser-input:focus {
	border-color: #888;
}

.edituser-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 8px 16px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.edituser-button:hover {
	background-color: #0056b3;
}

.isadmin-checkbox-label {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 10px;
	cursor: pointer;
}

.isadmin-checkbox-custom {
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
}

.isadmin-checkbox-custom::after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	background-color: #555;
	border-radius: 2px;
	display: none;
}

.isadmin-checkbox-label input:checked + .isadmin-checkbox-custom::after {
	display: block;
}
