.discover-row {
    margin-top: 35vh;
    position: relative;
    width: 100%;
    height: 200px;
    padding: 1%;
}

.discover-back {
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    background: linear-gradient(45deg, #6615E9, #9C6CEA);
    z-index: 1;
    transform: rotate(-1deg);
}

.discover-content {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    z-index: 2;
    transform: rotate(-1deg);
}

.discover-content-wrapper {
    position: absolute;
    left: +10%;
    height: 100%;
    width: 100%;
}

.discover-search {
    position: relative;
    background: linear-gradient(45deg, #6615E9, #722be4);
    border-radius: 0px 25px;
    height: 100%;
    transform: rotate(1deg);

    margin: 0;
    padding: 1%;

    width: 25%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: white;
}


.discover-search h2 {
    font-size: 2em;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: -1%;
}

.discover-search-container {
    width: 100%;
    padding: 1.25% 2% 2% 2%;
    position: relative;
}
  
.discover-search-container input[type="text"] {
    width: 100%;
    font-size: 2em;
    border: none;
    padding: 2% 3%;
    border-radius: 50px;
    box-sizing: border-box;
}
  
.discover-search-container input[type="text"] + i {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-100%, -70%);
    color: red;
    font-size: 1.5em;
    pointer-events: none;
}
  
.discover-search-container input[type="text"]:focus + i {
    color: red;
}






#discover-row {
    position: relative;
    
    width: 60%;
    height: 100%;
    left: 35%;
    padding-left: 5%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.discover {
    height: 100%;
    width: 20%;
    background: linear-gradient(45deg, #6615E9, #722be4);
    transform: rotate(1deg);
    border-radius: 0px 30px;
    padding: 1%;
}

.discover div {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 0px 30px;
}

.discover div img {
    width: 100%;
    height: 100%;
    border-radius: 0px 30px;
}